@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Webpage is used to search Amazon products through amazon product advertising api.
    </p>

    <p>
        Currency rates are used to provide different currency options.
    </p>
</article>

<aside>
   
    <p>
        Navigation Panel.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
       
    </ul>
</aside>